$lime: #3cb84d !default;
$pine: #14503a !default;
$night: #002319 !default;

$bg-color: #e9e9e9 !default;

$breakpoint-mobile-max: 768px !default;

$breakpoint-tablet-min: 769px !default;
$breakpoint-tablet-max: 1023px !default;

$breakpoint-desktop-min: 1024px !default;
$breakpoint-desktop-max: 1215px !default;

$breakpoint-widescreen-min: 1216px !default;
